/****** Object:  Database [projeto_integrador]    Script Date: 1/7/2025 8:50:50 PM ******/
--CREATE DATABASE [projeto_integrador]   WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF;
--GO
ALTER DATABASE [projeto_integrador] SET COMPATIBILITY_LEVEL = 160
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 1/7/2025 8:50:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[occupation] [nvarchar](100) NULL,
	[education] [nvarchar](100) NULL,
 CONSTRAINT [PK_user_profile] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
